<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    
    </head>
    
        <body style="background-color:lightgray;">
           
        <!--Add a nav bar here -->
        <nav class="navbar " style="background-color:blue; border-radius:30px; box-shadow:5px 5px black">
            <div class="container-fluid" style="background-color:blue; border-radius:30px;">
                <div class="navbar-header">
                      <a class="navbar-brand" href="#" style="color:whitesmoke;"><h3><b>Dealer Reveiw</b></h3></a><b style="color:whitesmoke;">|</b> <a href="{% url 'djangoapp:about'%}" style="color:whitesmoke;">About Us</a> <b style="color:whitesmoke;">|</b><a href="{% url 'djangoapp:contact' %} " style="color:whitesmoke;"> Contact Us</a><b style="color:whitesmoke;">|</b>
                    </div>   
                      <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li>
                            <a class="btn btn-link" href="#" style="color:whitesmoke;"> <b> Hello! {{user.first_name}}({{user.username}})</b> </a>
                            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}" style="color:whitesmoke">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                {% csrf_token %}
                            <div class="input-group" >
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit" >Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}" > Sign up!</a> 
    
                            </div>
                    </form>
                </li>
                {% endif %}
            </ul>    
        </div>
    </nav>
    <h1>Contact us!</h1>
    <p>customer_service@Bestcars.com</p>
    </html